header {
    background-color: white ;
    padding: 20px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;

}

body{
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}
.shadow{
        box-shadow:0 4px 8px rgba(0, 0, 0, 0.1) ;
}
.container-logo{
    height: 60px;
    width: 60px;

}
.container-logo img{
    height: 100%;
    width: 100%;
    object-fit: contain;
    border-radius: 30px;
}

.main-container{
    background-color: #65b1be;
    height: 500px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

}

.main-container h1{
    margin-top: 40px;

}

.main-container p{
    margin-top: 40px;
}

.main-container span{
    margin-top: 40px;
}
.search{
    margin-top: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 500px;
}
.search input{
    height: 30px;
    width: 500px;
    border-radius:15px ;
}

.search button{
    height:30px;
    width: 100px;
    border-radius: 15px;
    margin-top: 20px;
    border: none;
    cursor: pointer;  

}


.personajes_imagen {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;

}

       
.dark-mode{
    background-color: black;
    color: rgb(252, 254, 255);
}
.dark-mode header{
    background-color: black;
}
.dark-mode .main-container{
    background-color: #000000;
}

